
/* 
    global-css-start
*/

body {
    font-family: var(--nm-font-2);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--nm-clr-black-1);
    overflow-x: hidden;
    background-color: #000;
}

.img,img {
    max-width: 100%;
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}
a , span  {
    display: inline-block;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-transform: inherit;
    text-decoration: none;
    transition: unset;
}

button {
    border: none;
    outline: none;
}

a:focus,
a:hover
{
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 55px;
}
h2 {
    font-size: 55px;
}
h3 {
    font-size: 42px;
}
h4 {
    font-size: 27px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

::-moz-selection {
    background-color: #3065D0;
    color: white;
    text-shadow: none;
}
::-moz-selection {
    background-color: #3065D0;
    color: white;
    text-shadow: none;
}
::selection {
    background-color:#3065D0;
    color: white;
    text-shadow: none;
}  

input ,textarea {

    &::placeholder {
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        font-family: inherit;
    }

}

input:focus::placeholder, textarea:focus::placeholder {
    opacity: 0;
}


@media #{$over,$xxxl,$xxl,$xl,$lg,$md} {
    ::-webkit-scrollbar {
        width: 7px;
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
        
    ::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: none;
    border: none;
    }
        
    ::-webkit-scrollbar-thumb {
    background: var(--lw-clr-pr-1);
    border-radius: 30px;
    }
}

/* 
    global-css-start
*/

/* 
    margin-&-padding_variable-start
*/


@for $i from 1 through 40 {
    .mt-#{5 * $i}{margin-top: 5px * $i;}
}

@for $i from 1 through 40 {
    .mb-#{5 * $i}{margin-bottom: 5px *$i;}
}

@for $i from 1 through 40 {
    .ml-#{5 * $i}{margin-left: 5px * $i;}
}

@for $i from 1 through 40 {
    .mr-#{5 * $i}{margin-right: 5px *$i;}
}

@for $i from 1 through 40 {
    .pt-#{5 * $i}{padding-top: 5px *$i;}
}

@for $i from 1 through 60 {
    .pb-#{5 * $i}{padding-bottom: 5px *$i;}
}

@for $i from 1 through 40 {
    .pl-#{5 * $i}{padding-left: 5px *$i;}
}

@for $i from 1 through 40 {
    .pr-#{5 * $i}{padding-right: 5px *$i;}
}

/* 
    margin-&-padding_variable-end
*/


/* 
    all-common-class-start
*/


@media (min-width: 1600px) {
    .container{
        &.nm-container-1 {
            max-width: 1426px;
        }

    }
    
}


.wa-fix {
    overflow: hidden;
}

.swiper-notification {
    display: none;
}

.wa-img-cover {
    img {
        width: 100%;
        height: 100% !important;
        object-fit: cover;
    }
}

.wa-p-relative {
    position: relative;
    z-index: 1;
}

.wa-p-absolute {
    position: absolute;
}

.wa-zindex-1 {
    z-index: 1;
}

.wa-zindex-2 {
    z-index: 2;
}

.wa-bg-default {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.px-mlr-24 {
    margin-left: 24px;
    margin-right: 24px;


    @media #{$md} {
        margin-left: 16px;
        margin-right: 16px;
    }

    @media #{$xs} {
        margin-left: 8px;
        margin-right: 8px;
    }

}

.px-radius-20 {
    border-radius: 20px;
}

/* 
    all-common-class-end
*/
