/* 
    cta-start
*/
.nm-cta {
    &-area {
        padding-top: 235px;
        padding-bottom: 240px;
        margin-left: 28px;
        margin-right: 28px;
        border-radius: 20px;

        @media #{$lg} {
            padding-top: 205px;
            padding-bottom: 200px;
        }

        @media #{$md,$xs} {
            padding-top: 150px;
            padding-bottom: 150px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 444px;
            height: 444px;
            opacity: 0.32;
            filter: blur(120px);
            top: -200px;
            left: -200px;
            background: var(--nm-clr-pr-1);
            z-index: -1;
        }
    }

    &-content {
        max-width: 640px;
    }
}

/* 
    cta-end
*/