/* 
    elementor-start
*/
.nm-elementor {
    
    &-bg-shape {
        width: 47%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        text-align: right;
        opacity: .2;
    }

    &-bg-img {
        width: 42%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
 
        background: #000;

        img {
            mix-blend-mode: luminosity;
        }
    }

    &-sec-title {

        .sec-disc {
            margin-top: 31px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px 100px;
        align-items: center;

        @media #{$lg} {
            gap: 50px 50px;
        }
        @media #{$md,$xs} {
            gap: 50px 50px;
            grid-template-columns: 1fr;
        }
    }


    &-left {
        // max-width: 645px;

    }

    &-list {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        gap: 20px;
        margin-bottom: 48px;

        @media #{$xl,$lg,$md,$xs} {
            grid-template-columns: 1fr ;
        }
    
        li {
            display: flex;
            align-items: baseline;
            gap: 15px;

        }
    }
    
    
    
    &-img {
        margin-left: 80px;
        margin-right: -130px;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            margin-left: 0;
            margin-right: 0px;
        }

        &-1 {
            width: 39%;
            filter: drop-shadow(-10.606px 10.606px 35.354px rgba(0, 0, 0, 0.25));
        }

        &-2 {
            width: 38%;
            position: absolute;
            top: 13%;
            left: 27%;
            filter: drop-shadow(-13.576px 13.576px 45.253px rgba(0, 0, 0, 0.25));
        }
        
        &-3 {
            width: 31%;
            position: absolute;
            bottom: 12%;
            left: 28%;
            filter: drop-shadow(-13.576px 13.576px 45.253px rgba(0, 0, 0, 0.25));
            z-index: 1;
        }

        &-4 {
            width: 30%;
            position: absolute;
            bottom: 9%;
            left: 43%;
            filter: drop-shadow(-10.606px 10.606px 35.354px rgba(0, 0, 0, 0.25));
            z-index: 2;
        }

        &-5 {
            width: 33%;
            position: absolute;
            top: 24%;
            right: 20%;
            filter: drop-shadow(-18.667px 18.667px 62.222px rgba(0, 0, 0, 0.25));
        }

        &-6 {
            width: 28%;
            position: absolute;
            top: 47%;
            right: 0;
            filter: drop-shadow(-10.606px 10.606px 35.354px rgba(0, 0, 0, 0.25));
        }
    }
}


/* 
    elementor-end
*/