/* 
    footer-start
*/
.nm-footer {



    &-area {
        margin-left: 28px;
        margin-right: 28px;
        border-radius: 20px 20px 0 0;
        margin-top: 50px;
    }

    &-bg-img {
        width: 50%;
        position: absolute;
        bottom: -150px;
        left: -60px;
        z-index: -1;

        @media #{$md,$xs} {
            display: none;
        }
    }

    &-content {
        padding: 130px 0;
        text-align: center;
        max-width: 520px;
        margin-left: auto;
        margin-right: auto;

        > .icon {
            margin-bottom: 48px;
        }

        .title {

            span {
                color: var(--nm-clr-pr-1);
            }
        }

        .disc {
            font-size: 20px;
            opacity: 88%;
            margin-top: 20px;
        }

        .btn-wrap {
            margin-top: 35px;
        }

        .nm-pr-btn-1 {
        }

    }

    &-copyright-border {
        padding: 20px 0;

        &::after {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #060606 100%);
            opacity: 0.48;
            top: 0;
            left: 0;
        }
    }


    &-copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;

        @media #{$md,$xs} {
            justify-content: center;
        }


    
        .design {
            text-transform: capitalize;
            opacity: 80%;

            a {
                color: var(--nm-clr-pr-1);
                font-weight: 500;
                transition: all .5s var(--nm-cube-1);
                &:hover {
                    color: #fff;
                }
            }
        }

        .copyright-text {
            color: rgb(255 255 255 / 80%);

            a {
                color: #fff;
                transition: all .4s var(--nm-cube-1);

                &:hover {
                    color: var(--nm-clr-pr-1);
                }
            }
        }
    }
    

    &-social {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    
        .link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            flex:  0 0 auto;
            background: rgba(255, 255, 255, 0.08);
            box-shadow: inset 0px -1px 1px rgba(255, 255, 255, 0.23);
            border-radius: 50%;
            color: #fff;
            transition: all .5s var(--nm-cube-1);

            &:hover {
                box-shadow: inset 0px -1px 1px var(--nm-clr-pr-1);
                color: var(--nm-clr-pr-1);
            }
        }
    }
    

    &-demo {
        &-1 {
            width: 17%;
            height: 140px;
            border-radius: 8px;
            position: absolute;
            top: -3%;
            left: 22%;
            z-index: -1;

            @media #{$xs} {
                display: none;
                
            }
        }

        &-2 {
            width: 19%;
            height: 220px;
            border-radius: 8px;
            position: absolute;
            left: -6%;
            top: 17%;
            z-index: -1;

            @media #{$xs} {
                display: none;
                
            }
        }

        &-3 {
            width: 20%;
            height: 187px;
            border-radius: 8px;
            left: 7%;
            bottom: 13%;
            position: absolute;
            z-index: -1;

            @media #{$xs} {
                display: none;
                
            }
        }

        &-4 {
            width: 20%;
            height: 210px;
            border-radius: 8px;
            position: absolute;
            right: -3%;
            top: 6%;
            z-index: -1;

            @media #{$xs} {
                display: none;
                
            }
        }

        &-5 {
            width: 20%;
            height: 181px;
            border-radius: 8px;
            position: absolute;
            right: -6%;
            bottom: 18%;
            z-index: -1;

            @media #{$xs} {
                display: none;
                
            }
        }
    }
}


/* 
    footer-end
*/