
/* 
  header-1-css-start
*/

.wa-sticky-header-2  {

  &:is(.has-sticky) {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 0;
    animation: slideInDown .7s;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-400px);
    -ms-transform: translateY(-400px);
    transform: translateY(-400px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}



.nm-header-1 {

  &-area {
    position: fixed;
    top: 25px;
    left: 0;
    width: 100%;
    z-index: 4;

    @media #{$md,$xs} {
      background-color: var(--lw-clr-h-1);
      padding: 15px 0;
    }
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &-logo {
    max-width: 180px;
  }

  &-action-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .nm-pr-btn-1  {
      @media #{$xs} {
        display: none;
      }      
      @media #{$sm} {
        display: inline-flex;
      }
    }
  }

}


.main-navigation {
  ul {
    display: flex;
    align-items: center;
    gap: 45px;
    flex-direction: row;
    

    li {
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: var(--nm-clr-pr-1);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -26px;
      }

      &:first-child {
        &::before {
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: var(--nm-clr-pr-1);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -26px;
        }
      }


      a {
        position: relative;
        z-index: 1;
        font-family: var(--nm-font-1);
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: #fff;
        padding: 26px 0;
        display: inline-block;
        text-transform: capitalize;
        line-height: 1.5;
        transition: all .5s var(--nm-cube-1);

      }

      &:hover {
        > a {
          color: var(--nm-clr-pr-1);
        }
        .dropdown-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px) translateZ(0);
        }
      }
    }
  }
}



.wa-sticky-header-2 {
  transition: .3s;
  &:is(.has-sticky) {
      top: 0;

      .lw-header-1-bg-color {
          width: 102%;
          left: -1%;
      }

  }
}

/* 
  header-1-css-end
*/



/* 
  sticky-header-css-start
*/
.txa_sticky_header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: 300ms ease-in-out;
  z-index: 8;


  &:is(.txa_sticky) {
    transform: translateY(-150%);

    &:is(.txa_sticky_show) {
      transform: translateY(0%);
    }
  }

  &:is(.fx-header-1-area) {
    top: 12px;

    &:is(.txa_sticky_show) {
      .fx-header-1-top {
        @media #{$md,$xs} {
          display: none;
        }
      }
    }

  }

  &:is(.fx-header-3-area) {
    top: 32px;
  }

  &:is(.fx-header-4-area ) {
    top: 20px;
  }

}


/* 
  sticky-header-css-end
*/