/* 
    inner-page-start
*/
.nm-inner-page {
    &-content {
        .title {
            text-align: center;
            max-width: 650px;
            margin-left: auto;
            margin-right: auto;
            margin-top: -80px;
            position: relative;
            z-index: 1;
        }
    }

    &-wrap {
        display: flex;
    }

    &-single {
        flex: 0 0 auto;
        border: 1px solid rgb(217 217 217 / 34%);
        padding: 32px 32px;
        text-align: center;
        border-left: none;

        .item-img {
            width: 377px;
            margin-bottom: 15px;

            @media #{$lg} {
                width: 300px;
            }

            @media #{$md,$xs} {
                width: 250px;
            }
        }
        .title {
            font-size: 16px;
            font-weight: 300;
        }
    }
    

}
/* 
    inner-page-end
*/