/* 
    plugin-start
*/
.nm-plugin {
    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
    }

    &-item {
        max-width: 250px;
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 24px;
    }
}


/* 
    plugin-end
*/