

.nm-testimonial {

    &-sec-title {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 15px;
        align-items: center;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }

        .sec-disc {
            opacity: 80%;
        }
    }
    
    &-wrap {
        gap: 20px;
        display: flex;
    }

    &-item {
        border-radius: 15px;
        background: #131414;
        padding: 40px 40px;
        padding-top: 60px;
        flex: 0 0 auto;
        max-width: 468px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media #{$xs} {
            max-width: 300px;
        }

        .comment {
            img {
                margin-top: -34px;
            }
        }

        .name-x-rating {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 41px;
        }

        .author-name {
            span {
                color: #EE9434;
            }
        }

        .ratting-wrap {
            font-size: 18px;
            color: #EE9434;
        }
    }

    &-marquee-wrap {
        &::after {
            content: "";
            position: absolute;
            width: 320px;
            height: 100%;
            background: linear-gradient(90deg, #000000 0%, rgba(22, 23, 23, 0) 100%);
            left: 0;
            top: 0;
            z-index: 1;

            @media #{$md,$xs} {
                width: 100px;
            }
        }        
        &::before {
            content: "";
            position: absolute;
            width: 320px;
            height: 100%;
            background: linear-gradient(270deg, #000000 0%, rgba(22, 23, 23, 0) 100%);
            right: 0;
            top: 0;
            z-index: 1;

            @media #{$md,$xs} {
                width: 100px;
            }
        }
    }
}



